body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  float: left;
  width: 200px;
}
nav ul {
  list-style: none;
  padding: 0;

  margin-right: 25px;
}

nav li {
  margin: 10px 5px;
  padding: 10px 0;

  text-align: center;

  border: #333 2px solid;
  border-radius: 3px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav li:hover {
  background: #555;
}

nav li:hover a {
  color: white;
}
